<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.examplewithcompose">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".exoplayer.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <service
            android:name=".serviceExample.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service_on_bind.OnBindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".foreground_service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".firebase_message.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExampleWithCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".serviceExample.ServiceActivity" />
        <activity android:name=".flow.FlowExampleActivity" />
        <activity android:name=".service_on_bind.FirstServiceActivityOnBind" />
        <activity android:name=".foreground_service.ForegroundServiceExampleActivity" />
    </application>

</manifest>